@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: antiquewhite;
    border: 3px solid green;
}

h1 {
    font-family: 'Shizuru', cursive;
    text-align: center;
    padding: 25px;
}

h2 {
    font-family: 'Shizuru', cursive;
    color: gold;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid blue;
}

#sketch-top {
    display: flex;
    margin: 0 auto;
    width: 960px;
    border: 25px solid #B8191E;
    border-radius: 40px 40px 0 0;
}

#sketch-grid {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 500px;
    background-color: #B8B8B8;
    border-left: 50px solid #B8191E;
    border-right: 50px solid #B8191E;
}

#sketch-bottom {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 960px;
    padding: 20px;
    background-color: #B8191E;
    border-radius: 0px 0px 40px 40px;
}

#sketch-bottom button {
    outline: 0;
    height: 60px;
    width: 60px;
    border-style: outset;
    border-radius: 50%;
}

.row-div {
    display: flex;
    flex: 1;
}

.col-div {
    display: flex;
    flex: 1;
    border: 1px solid #B8191E;
}

.col-div:hover {
    background-color: black;
}