@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --etch_red: #B8191E;
    --playful_font: 'Shizuru', cursive;
    --etch-height: 500px;
    --etch-width: 960px;
    --etch-center: 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: antiquewhite;
}

h1 {
    font-family: var(--playful_font);
    text-align: center;
    padding: 25px;
}

h2 {
    font-family: var(--playful_font);
    color: gold;
}

input, button {
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sketch-top {
    display: flex;
    margin: var(--etch-center);
    width: var(--etch-width);
    border: 25px solid var(--etch_red);
    border-radius: 40px 40px 0 0;
}

#sketch-grid {
    margin: var(--etch-center);
    display: flex;
    flex-direction: column;
    width: var(--etch-width);
    height: var(--etch-height);
    background-color: #B8B8B8;
    border-left: 50px solid var(--etch_red);
    border-right: 50px solid var(--etch_red);
}

#sketch-bottom {
    display: flex;
    justify-content: space-around;
    margin: var(--etch-center);
    width: var(--etch-width);
    padding: 20px;
    background-color: var(--etch_red);
    border-radius: 0px 0px 40px 40px;
}

#sketch-bottom button {
    outline: 0;
    height: 60px;
    width: 60px;
    border-style: outset;
    border-radius: 50%;
    font-family: var(--playful_font);
    font-weight: bold;
}

#option-div {
    display: flex;
}

#option-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 25px;
    width: 100%;
    font-family: var(--playful_font);
    font-weight: bold;
}

#options-button {
    font-family: var(--playful_font);
    font-weight: bold;
    background-color: antiquewhite;
    border: 3px solid #383838;
    border-radius: 5px;
    color: black;
    height: 30px;
    width: 70px;
}

.row-div {
    display: flex;
    flex: 1;
}

.col-div {
    display: flex;
    flex: 1;
}

.shaded-trail {
    opacity: 0.1;
}