@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    border: 3px solid green;
}

h1 {
    font-family: 'Shizuru', cursive;
    text-align: center;
    padding: 25px;
}

div {
    border: 3px solid red;
}

#container {
    width: 100%;
    border: 3px solid blue;
}

#sketch-grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 500px;
}

